@charset "UTF-8";



td{
	width : 100px;
	border : 1px solid;
	text-align : center;
	margin : 50px;
}

.label{
	
	text-align : right;
	vertical-align:top;
}

.control{
	margin-left: 10px;
}

textarea{
	width : 330px;
	height: 100px;
}

.error{
	font-size: small;
	color:red;
	margin-left:10px;
}

input[type=text]{
	width:250px;
}



input[type=submit] {
	display:block;
	width: 50%;
	margin: 0 auto;
}
input[type=submit]:hover {
	background-color:#77777;
}
